.venv
.env
secrets/
dev/
# Ignore everything inside assets
zerodha/assets/*

# But keep the folder itself
!zerodha/assets/
!zerodha/assets/.gitkeep
!zerodha/assets/loginInfo
!zerodha/assets/loginInfo/.gitkeep